<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <property name="logDir" value="logs/dojt/" />
  <property name="fileName" value="stockmng" />
  <property name="format1" value="（%-4p）（%d{yyyy/MM/dd HH:mm:ss.SSS}）（IP:%X{client}）（管理者ID:%X{adminId}）（%c）（%m）%n" />
 
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logDir}%d{yyyy-MM-dd}_${fileName}.log</fileNamePattern>
      <maxHistory>180</maxHistory>
    </rollingPolicy>
 
    <encoder>
      <pattern>${format1}</pattern>
    </encoder>
  </appender>
 
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${format1}</pattern>
    </encoder>
  </appender>
 
  <root level="info">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>