<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">

<head>
	<title>InvenTrack</title>

</head>

<body>
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">在庫一覧</h6>
		</div>

		<div class="card-body">
				<!-- エラーメッセージの表示 -->
				<div th:if="${errorMsg != null}" class="text-danger">
					<p th:text="${errorMsg}"></p>
				</div>
				
				<div>
					<a th:href="@{/admin/centerInfo}" class="btn btn-primary">一覧に戻る</a>
				</div>
		</div>
	</div>
</body>

</html>