<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">

<head>
	<title>InvenTrack</title>
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<style>
		.form-row .col-md-4 label {
			margin-right: 5px;
		}

		.form-row .col-md-8 input,
		.form-row .col-md-8 select {
			padding-left: 10px;
		}
	</style>
</head>

<body>
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary" style="display: inline-block; margin-right: 10px;">在庫センター情報
			</h6>
		</div>
		<div class="card-body">
			<div class="card-body">
				<!-- 検索フォーム -->
				<div class="search-container">
					<form method="post" th:action="@{'/admin/centerInfo/register'}"
						th:object="${centerInfoRegisterForm}">

						<!-- センター名 -->
						<div class="form-row form-group">
							<div class="col-md-4">
								<label for="centerName">センター名【必須】</label>
							</div>
							<div class="col-md-8">
								<input type="text" id="centerName" name="centerName" class="form-control"
									th:field="*{centerName}">
								<div th:if="${#fields.hasErrors('centerName')}" class="text-danger">
									<p th:errors="*{centerName}"></p>
								</div>
							</div>
						</div>

						<!-- 郵便番号 -->
						<div class="form-row form-group">
							<div class="col-md-4">
								<label for="postCode">郵便番号【必須】</label>
							</div>
							<div class="col-md-8">
								<input type="text" id="postCode" name="postCode" class="form-control"
									th:field="*{postCode}">
								<div th:if="${#fields.hasErrors('postCode')}" class="text-danger">
									<p th:errors="*{postCode}"></p>
								</div>
							</div>
						</div>

						<!-- 住所 -->
						<div class="form-row form-group">
							<div class="col-md-4">
								<label for="address">住所【必須】</label>
							</div>
							<div class="col-md-8">
								<input type="text" id="address" name="address" class="form-control"
									th:field="*{address}">
								<div th:if="${#fields.hasErrors('address')}" class="text-danger">
									<p th:errors="*{address}"></p>
								</div>
							</div>
						</div>

						<!-- 電話番号 -->
						<div class="form-row form-group">
							<div class="col-md-4">
								<label for="phoneNumber">電話番号【必須】</label>
							</div>
							<div class="col-md-8">
								<input type="text" id="phoneNumber" name="phoneNumber" class="form-control"
									th:field="*{phoneNumber}">
								<div th:if="${#fields.hasErrors('phoneNumber')}" class="text-danger">
									<p th:errors="*{phoneNumber}"></p>
								</div>
							</div>
						</div>

						<!-- 管理者名 -->
						<div class="form-row form-group">
							<div class="col-md-4">
								<label for="managerName">管理者名【必須】</label>
							</div>
							<div class="col-md-8">
								<input type="text" id="managerName" name="managerName" class="form-control"
									th:field="*{managerName}">
								<div th:if="${#fields.hasErrors('managerName')}" class="text-danger">
									<p th:errors="*{managerName}"></p>
								</div>
							</div>
						</div>

						<!-- 稼動状況 -->
						<div class="form-row form-group">
							<div class="col-md-4">
								<label for="operationalStatus">稼動状況【必須】</label>
							</div>
							<div class="col-md-8">
								<select id="operationalStatus" name="operationalStatus" class="form-control" required>
									<option value="0" th:selected="${centerInfoRegisterForm.operationalStatus == 0}"
										th:text="稼動中"></option>
									<option value="1" th:selected="${centerInfoRegisterForm.operationalStatus == 1}"
										th:text="停止中"></option>
								</select>
								<div th:if="${#fields.hasErrors('operationalStatus')}" class="text-danger">
									<p th:errors="*{operationalStatus}"></p>
								</div>
							</div>
						</div>

						<!-- 最大容量 -->
						<div class="form-row form-group">
							<div class="col-md-4">
								<label for="maxStorageCapacity">最大容量(㎥)【必須】</label>
							</div>
							<div class="col-md-8">
								<input type="text" id="maxStorageCapacity" name="maxStorageCapacity"
									class="form-control" th:field="*{maxStorageCapacity}">
								<div th:if="${#fields.hasErrors('maxStorageCapacity')}" class="text-danger">
									<p th:errors="*{maxStorageCapacity}"></p>
								</div>
							</div>
						</div>

						<!-- 現在容量 -->
						<div class="form-row form-group">
							<div class="col-md-4">
								<label for="currentStorageCapacity">現在容量(㎥)【必須】</label>
							</div>
							<div class="col-md-8">
								<input type="text" id="currentStorageCapacity" name="currentStorageCapacity"
									class="form-control" th:field="*{currentStorageCapacity}">
								<div th:if="${#fields.hasErrors('currentStorageCapacity')}" class="text-danger">
									<p th:errors="*{currentStorageCapacity}"></p>
								</div>
							</div>
						</div>

						<!-- 備考 -->
						<div class="form-row form-group">
							<div class="col-md-4">
								<label for="notes">備考</label>
							</div>
							<div class="col-md-8">
								<input type="text" id="notes" name="notes" class="form-control" th:field="*{notes}">
								<div th:if="${#fields.hasErrors('notes')}" class="text-danger">
								    <p th:errors="*{notes}"></p>
								</div>
							</div>
						</div>

						<!-- 登録ボタン -->
						<div class="form-row form-group">
							<div class="col-md-12">
								<a th:href="@{/admin/centerInfo}" class="btn btn-primary"
									style="display: inline-block; margin-right: 10px;">一覧に戻る</a>
								<button type="submit" class="btn btn-primary"
									style="display: inline-block; margin-left: 20px;">登録</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- Bootstrap JSと依存関係のスクリプト -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>