<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">

<head>
	<title>InvenTrack</title>

</head>

<body>
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">在庫一覧</h6>
		</div>

		<div class="card-body">

			<!-- 検索フォーム -->
			<div class="search-container">
				<form class="form-inline" method="post" th:action="@{'/admin/stockList/search'}"
					th:object="${StockInfoForm}">

					<label for="searchTerm" class="mr-2"><u>検索条件</u></label>

					<label for="categoryId" class="mr-2">分類</label>
					<select id="categoryId" name="categoryId" class="form-control mr-2">
						<option value="" th:text="すべて"></option>
						<option th:each="category : ${categories}" th:value="${category.categoryId}"
							th:text="${category.categoryName}"
							th:selected="${category.categoryId == inputtedValue.categoryId}"></option>
					</select>

					<label for="name" class="mr-2">名称</label>
					<select id="name" name="name" class="form-control mr-2">
						<option value="" th:text="すべて"></option>
						<option th:each="stock : ${stockInfoListPullDown}" th:value="${stock.name}"
							th:text="${stock.name}" th:selected="${stock.name == inputtedValue.name}">
						</option>
						<option th:if="${#lists.isEmpty(stockInfoListPullDown)}" value="" th:text="選択肢がありません"></option>
					</select>

					<label for="amount" class="mr-2">個数</label>
					<input id="amount" name="amount" class="form-control mr-2" th:value="${inputtedValue.amount}"
						type="text">

					<select id="amountCondition" name="amountCondition" class="form-control mr-2">
						<option value=0 th:selected="${inputtedValue.amountCondition == 0}" th:text="以上"></option>
						<option value=1 th:selected="${inputtedValue.amountCondition == 1}" th:text="以下"></option>
					</select>

					<button type="submit" class="btn btn-primary">検索</button>
				</form>

				<!-- エラーメッセージの表示 -->
				<div th:if="${errorMsg != null}" class="text-danger">
					<p th:text="${errorMsg}"></p>
				</div>
			</div>

			<!-- 在庫情報テーブル -->
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th style="width: 9%;">分類</th>
							<th style="width: 10%;">名称</th>
							<th style="width: 5%;">個数</th>
							<th style="width: 8%;">保管場所</th>
							<th style="width: 20%;">説明</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${stockInfoList}">
							<td> [[*{item.categoryInfo.categoryName}]] </td>
							<td> [[*{item.name}]] </td>
							<td> [[*{item.amount}]] </td>
							<td> [[*{item.centerInfo.centerName}]] </td>
							<td> [[*{item.description}]] </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function () {
			// カテゴリが変更されたときに名称のプルダウンを更新
			$('#categoryId').change(function () {
				var categoryId = $(this).val(); // 選択されたカテゴリのID

				// カテゴリが選択された場合のみAJAXリクエストを送る
				if (categoryId) {
					$.ajax({
						url: '/admin/stockList/getStockNamesByCategoryId', // サーバーサイドのエンドポイント
						type: 'GET',
						data: {categoryId: categoryId},
						success: function (data) {
							// 名称プルダウンの選択肢をクリア
							$('#name').empty();
							$('#name').append('<option value="">選択してください</option>');

							// 新しい選択肢を追加
							data.forEach(function (stock) {
								$('#name').append('<option value="' + stock + '">' + stock + '</option>');
							});
						},
						error: function (xhr, status, error) {
							console.error('AJAX Error: ' + status + ': ' + error);
							alert.error("カテゴリに関連する名称の取得に失敗しました。再度試してください。")
						}
					});
				} else {

					// カテゴリが選択されていない場合、名称プルダウンをリセットし、すべての名称を表示
					$.ajax({
						url: '/admin/stockList/getAllNames', // すべての名称を取得するエンドポイント
						type: 'GET',
						success: function (data) {
							// 名称プルダウンの選択肢をクリア
							$('#name').empty();
							$('#name').append('<option value="">すべて</option>');
							// 新しい選択肢を追加
							data.forEach(function (stock) {
								$('#name').append('<option value="' + stock + '">' + stock + '</option>');
							});
						},
						error: function (xhr, status, error) {
							console.error('AJAX Error: ' + status + ': ' + error);
							alert("名称の取得に失敗しました。再度試してください。")
						}
					});
				}
			});
		});
	</script>
</body>

</html>